<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <title>Comment Area</title>
</head>

<body>
    <div id="app">
        <el-container>
            <!--顶栏-->
            <el-header height="80px">
                <p style="font-family: Times; font-size: 40px; position: absolute; top: -30px; color: white;">pQper</p>
                <!--我的下拉菜单-->
                <el-dropdown style="float: right; width: 50px;">
                    <p style="font-size: 16px; color: white; margin-top: 27px; margin-left: 14px;"><b>我的</b></p>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item onclick="window.location.href='http://127.0.0.1:8000/SearchAndResults/HomePage.html'">个人主页</el-dropdown-item>
                        <el-dropdown-item onclick="window.location.href='http://127.0.0.1:8000/user/myprofile.html'">个人信息</el-dropdown-item>
                        <el-dropdown-item @click.native="quit">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <!--搜索框-->
                <el-button class="button_outside" type="primary" icon="el-icon-search" style="width: 80px; float: right; margin-top: 18px; margin-left: 15px" @click="handleSearch()">搜索</el-button>
                <el-col :span="3" style="float: right; margin-top: 18px; width: 180px;">
                    <el-input v-model="searchInput" placeholder="论文/用户"></el-input>
                </el-col>
            </el-header>
            <el-container>
                <!--左边栏-->
                <el-aside width="120px">
                    <div class="mySimpleInfo">
                        <el-avatar :size="100" :src="userAvatar">user</el-avatar>
                    </div>
                    <el-button class="button_outside" type="primary" icon="el-icon-menu" onclick="window.location.href='http://127.0.0.1:8000/SearchAndResults/HomePage.html'">首页</el-button><br>
                    <el-button class="button_outside" type="primary" icon="el-icon-s-custom" onclick="window.location.href='http://127.0.0.1:8000/user/starUserList.html'">关注列表</el-button><br>
                    <el-button class="button_outside" type="primary" icon="el-icon-star-on" onclick="window.location.href='http://127.0.0.1:8000/commentarea/manageComment.html'">收藏长评</el-button><br>
                    <el-button class="button_outside" type="primary" icon="el-icon-document" onclick="window.location.href='http://127.0.0.1:8000/commentarea/myCommentAreaList.html'">讨论区</el-button><br>
                    <el-button class="button_outside" type="primary" icon="el-icon-document-copy" onclick="window.location.href='http://127.0.0.1:8000/chatgroup/myChatGroupList.html'">讨论组</el-button><br>
                    <el-button class="button_outside" type="primary" icon="el-icon-info" onclick="window.location.href='http://127.0.0.1:8000/commentarea/aboutpQper.html'">关于</el-button>
                </el-aside>
                <!--论文区域-->
                <el-main>
                    <iframe v-bind:src="paperDir" width="100%" height="100%" frameborder="0"></iframe>
                </el-main>
                <!--右边栏-->
                <el-aside width="350px">
                    <el-tabs type="card" v-model="selectedTab">
                        <!--论文信息-->
                        <el-tab-pane label="论文信息" name="first">
                            <div class="comment">
                                <p class="text" style="font-size: 25px;"><b>{% verbatim %}{{paperInfo.title}}{%
                                        endverbatim %}</b></p>
                                <el-button style="width: 100px; height: 40px;" v-bind:type="getStarAreaButtonType()" icon="el-icon-star-off" @click="handleStarArea()">收藏 {% verbatim %}{{area_star_number}}{% endverbatim %}</el-button>
                                <el-button class="button" style="width: 100px; height: 40px;" type="primary" icon="el-icon-arrow-left" onclick="window.location.href='http://127.0.0.1:8000/commentarea/myCommentAreaList.html'">返回</el-button>
                            </div>
                        </el-tab-pane>
                        <!--短评-->
                        <el-tab-pane label="短评" name="second">
                            <div v-for="count in shortCommentList.length" class="comment">
                                <p class="text" style="font-size: 17px;">发布者：<a v-bind:href='"http://127.0.0.1:8000/user/UserProfilePage.html?userid=" + shortCommentList[count - 1].posterId'>{% verbatim %}{{shortCommentList[count -
                                        1].poster}}{% endverbatim %}</a></p>
                                <p class="text" style="font-size: 12px;">{% verbatim %}{{shortCommentList[count - 1].post_time}}{% endverbatim %}</p>
                                <p class="text" style="font-size: 15px;">{% verbatim %}{{shortCommentList[count - 1].content}}{% endverbatim %}</p>
                                <el-button style="width: 100px; height: 40px;" v-bind:type="getRoseButtonType(count)" icon="el-icon-caret-top" @click="handleRose(count)">赞 {% verbatim %}{{shortCommentList[count - 1].rose_number}}{% endverbatim %}</el-button>
                                <el-button style="width: 100px; height: 40px;" v-bind:type="getEggButtonType(count)" icon="el-icon-caret-bottom" @click="handleEgg(count)">踩 {% verbatim %}{{shortCommentList[count - 1].egg_number}}{% endverbatim %}</el-button>
                            </div>
                        </el-tab-pane>
                        <!--长评-->
                        <el-tab-pane label="长评" name="third">
                            <div v-for="count in longCommentList.length" class="comment">
                                <p class="text" style="font-size: 20px;"><b>{% verbatim %}{{longCommentList[count -
                                        1].title}}{% endverbatim %}</b></p>
                                <p class="text" style="font-size: 17px;">发布者：<a v-bind:href='"http://127.0.0.1:8000/user/UserProfilePage.html?userid=" + longCommentList[count - 1].posterId'>{% verbatim %}{{longCommentList[count - 1].poster}}{% endverbatim %}</a></p>
                                <p class="text" style="font-size: 12px;">{% verbatim %}{{longCommentList[count - 1].post_time}}{% endverbatim %}</p>
                                <el-button style="width: 100px; height: 40px;" v-bind:type="getStarButtonType(count)" icon="el-icon-star-off" @click="handleStar(count)">收藏 {% verbatim %}{{longCommentList[count - 1].star_number}}{% endverbatim %}</el-button>
                                <el-button class="button" style="width: 100px; height: 40px;" type="primary" icon="el-icon-plus" @click="handleOpenLongComment(count)">全文</el-button>
                            </div>
                        </el-tab-pane>
                        <!--发表评论-->
                        <el-tab-pane label="发表评论" name="fourth">
                            <div class="comment">
                                <p class="text" style="font-size: 20px;"><b>发表短评</b></p>
                                <el-input type="textarea" :rows="2" v-model="shortCommentInput"></el-input><br><br>
                                <el-button class="button" style="width: 100px; height: 40px;" type="primary" icon="el-icon-check" @click="handlePostShortComment()">发送</el-button>
                            </div>
                            <div class="comment">
                                <p class="text" style="font-size: 20px;"><b>发表长评</b></p>
                                <p class="text" style="font-size: 15px;">标题</p>
                                <el-input v-model="longCommentInput.title"></el-input>
                                <p class="text" style="font-size: 15px;">正文（支持markdown语法）</p>
                                <el-input type="textarea" :rows="6" v-model="longCommentInput.content"></el-input>
                                <br><br>
                                <el-button class="button" style="width: 100px; height: 40px;" type="primary" icon="el-icon-check" @click="handlePostLongComment()">发送</el-button>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </el-aside>
            </el-container>
            <!--底栏-->
            <el-footer height="50px">
                <p style="font-family: Times; font-size: 15px; float: right; color: white;">Copyright &copy; 2020 pQper
                </p>
            </el-footer>
        </el-container>
    </div>
</body>

<style type="text/css">
    #app {
        height: 100%;
    }
    html {
        height: 100%;
    }
    body {
        margin: 0;
        height: 100%;
    }
    .el-container {
        height: 100%;
        direction: "vertical";
    }
    .el-header {
        background-color: rgb(37, 41, 46);
    }
    .el-footer {
        background-color: rgb(37, 41, 47);
    }
    .el-aside {
        background-color: #DCDFE6;
    }
    .el-main {
        background-color: #EBEEF5;
    }
    .button {
        background-color: rgb(36, 104, 207);
        border-color: rgb(36, 104, 207);
        font-family: 'Pingang SC';
    }
    .button_outside {
        background-color: rgb(36, 104, 207);
        border-color: rgb(36, 104, 207);
        font-family: 'Pingang SC';
        width: 108px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .el-dropdown p {
        font-family: 'Pingang SC';
    }
    .text {
        font-family: Times;
    }
    .comment_left {
        background-color: #DCDFE6;
        border-radius: 6px;
        margin: 8px;
        direction: vertical;
        padding: 10px;
    }
    .comment {
        background-color: rgb(207, 209, 216);
        border-radius: 6px;
        margin: 8px;
        direction: vertical;
        padding: 10px;
    }
    .mySimpleInfo {
        margin: 10px;
    }
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
</style>

</html>
