<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <el-container>
            <!--顶栏-->
            <el-header height="50px">
                <p style="font-family: Times; font-size: 30px; position: absolute; top: -15px; color: white;">pQper</p>
                <!--我的下拉菜单-->
                <el-dropdown style="float: right; width: 50px;">
                    <p style="font-size: large; color: white; margin-top: 12px; margin-left: 14px;">我的</p>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item onclick="window.location.href='#'">个人主页</el-dropdown-item>
                        <el-dropdown-item onclick="window.location.href='#'">个人信息</el-dropdown-item>
                        <el-dropdown-item onclick="window.location.href='#'">退出登录</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <!--搜索框-->
                <el-button type="primary" icon="el-icon-search" style="width: 80px; float: right; margin-top: 4px;" @click="handleSearch()">搜索</el-button>
                <el-col :span="3" style="float: right; margin-top: 5px;">
                    <el-input v-model="searchInput" placeholder="论文题目/作者"></el-input>
                </el-col>
            </el-header>
            <el-container>
                <!--左边栏-->
                <el-aside width="120px">
                    <br><br>
                    <el-button type="primary" icon="el-icon-menu" onclick="window.location.href='#'">主菜单</el-button><br>
                    <el-button type="primary" icon="el-icon-star-on" onclick="window.location.href='#'">收藏夹</el-button><br>
                    <el-button type="primary" icon="el-icon-document" onclick="window.location.href='#'">我的论文</el-button><br>
                    <el-button type="primary" icon="el-icon-info" onclick="window.location.href='#'">关于</el-button>
                </el-aside>
                <!--长评区域-->
                <el-main>
                    <div class="comment" style="background-color: #62c48b;">
                        <p class="text" style="font-size: 20px;">{% verbatim %}{{longComment.title}}{% endverbatim %}</p>
                        <p class="text" style="font-size: 17px;">{% verbatim %}{{longComment.poster}}{% endverbatim %}</p>
                        <p class="text" style="font-size: 12px;">{% verbatim %}{{longComment.post_time}}{% endverbatim %}</p>
                    </div>
                    <div class="comment">
                        <p class="text" style="font-size: 15px;">{% verbatim %}{{longComment.content}}{% endverbatim %}</p>
                    </div>
                </el-main>
                <!--右边栏-->
                <el-aside width="350px">
                    <!--长评列表-->
                    <div v-for="count in longCommentList.length" class="comment">
                        <p class="text" style="font-size: 17px;"><b>{% verbatim %}{{longCommentList[count - 1].title}}{% endverbatim %}</b></p>
                        <el-button style="width: 120px; height: 40px;" v-bind:type="getStarButtonType(count)" icon="el-icon-star-off" @click="handleStar(count)">收藏 {% verbatim %}{{longCommentList[count - 1].star_number}}{% endverbatim %}</el-button><br>
                        <el-button style="width: 100px; height: 40px;" type="primary" icon="el-icon-plus" @click="handleClick(count)">查看</el-button>
                        <el-button style="width: 100px; height: 40px;" v-bind:type="getDeleteButtonType(count)" icon="el-icon-close" @click="handleDelete(count)">删除</el-button>
                    </div>
                </el-aside>
            </el-container>
            <!--底栏-->
            <el-footer height="50px">
                <p style="font-family: Times; font-size: 15px; float: right; color: white;">Copyright &copy; 2020 pQper</p>
            </el-footer>
        </el-container>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"> </script>
    <script>
    Vue.prototype.$axios = axios
    var vm = new Vue({
        el: '#app',
        created: function(){
            this.initDatas()
        },
        data: {
            searchInput: "",
            longCommentList: [{ // 正式版需要删除这三组测试数据
                id: 1,
                poster: "马老师1",
                title: "有bear而来",
                post_time: "2019",
                content: "这是化劲儿",
                star_number: 100,
                has_star: true,
                is_owner: true,
            },{
                id: 2,
                poster: "马老师2",
                title: "耗子尾汁",
                post_time: "2020",
                content: "发生甚么事了",
                star_number: 100,
                has_star: true,
                is_owner: false,
            },{
                id: 3,
                poster: "马老师3",
                title: "不讲武德",
                post_time: "2021",
                content: "啪的一下就站起来了，很快啊",
                star_number: 100,
                has_star: true,
                is_owner: false,
            }],
            longComment: {
                id: 1,
                poster: "马老师",
                title: "有bear而来",
                post_time: "2020",
                content: "这是化劲儿",
                star_number: 100,
                has_star: true,
            },
        },
        methods: {
            // 正则表达式匹配
            getParams(key){
                var reg = new RegExp("(^|&)" + key + "=([^&]*)(&|$)")
                var r = window.location.search.substr(1).match(reg)
                if (r != null) {
                    return unescape(r[2])
                }
                return null
            },
            // 页面初始化，填入所有数据
            initDatas(){
                this.$axios.get('http://127.0.0.1:8000/commentarea/get_star_long_comment')
                    .then(
                        (res) => {
                            if(res.code != 200){
                                console.log('failed to initialize')
                                return
                            }
                            res = res.data
                            res.longCommentList.forEach((longCommentId) => {
                                this.$axios.get('http://127.0.0.1:8000/commentarea/get_long_comment?inCommentArea=false&longCommentId=' + longCommentId)
                                    .then(
                                        (response) => {
                                            if(response.code != 200){
                                                console.log('failed to initialize')
                                                return
                                            }
                                            response = response.data
                                            this.longCommentList.push({
                                                id: response.comment.id,
                                                poster: response.comment.poster,
                                                title: response.comment.title,
                                                post_time: response.comment.post_time,
                                                content: response.comment.content,
                                                star_number: response.comment.star_number,
                                                has_star: response.comment.star,
                                                is_owner: response.comment.create,
                                            })
                                        }
                                    )
                            })
                        }
                    )
                if(this.longCommentList.length > 0)
                    this.longComment = this.longCommentList[0]
            },
            // 搜索框事件处理
            //! 尚未完成
            handleSearch(){
                if(this.searchInput.length > 0){
                    var searchContent = btoa(encodeURI(this.searchInput))
                    window.location.href = 'searchResultPage.html?searchContent=' + searchContent
                }
            },
            // 选中长评处理
            handleClick(count){
                this.longComment = this.longCommentList[count - 1]
            },
            // 收藏/取消收藏长评处理
            handleStar(count){
                if(!this.longCommentList[count - 1].has_star){
                    this.$axios.get('http://127.0.0.1:8000/commentarea/star_comment?longCommentId=' + this.longCommentList[count - 1].id)
                        .then(
                            (res) => {
                                if(res.code === 200){
                                    this.longCommentList[count - 1].has_star = true
                                    this.longCommentList[count - 1].star_number += 1
                                    this.$message("收藏成功")
                                }
                                else
                                    this.$message("收藏失败")
                            }
                        )
                }
                else{
                    this.$axios.get('http://127.0.0.1:8000/commentarea/cancel_star_comment?longCommentId=' + this.longCommentList[count - 1].id)
                        .then(
                            (res) => {
                                if(res.code === 200){
                                    this.longCommentList[count - 1].has_star = false
                                    this.longCommentList[count - 1].star_number -= 1
                                    this.$message("取消收藏成功")
                                }
                                else
                                    this.$message("取消收藏失败")
                            }
                        )
                }
            },
            handleDelete(count){
                if(this.longCommentList[count - 1].is_owner){
                    this.$axios.get('http://127.0.0.1:8000/commentarea/delete_long_comment?longCommentId=' + this.longCommentList[count - 1].id)
                        .then(
                            (res) => {
                                if(res.code === 200){
                                    this.longCommentList.splice(count - 1, 1);
                                    this.$message("删除成功")
                                }
                                else
                                    this.$message("删除失败")
                            }
                        )
                }
            },
            getStarButtonType(count){
                if(this.longCommentList[count - 1].has_star)
                    return "info"
                else
                    return "primary"
            },
            getDeleteButtonType(count){
                if(this.longCommentList[count - 1].is_owner)
                    return "warning"
                else
                    return "info"
            },
        }
    })
    </script>
</body>

<style type="text/css">
    #app {
        height: 100%;
    }
    html {
        height: 100%;
    }
    body {
        height: 100%;
    }
    .el-container {
        height: 100%;
        direction: "vertical";
    }
    .el-header {
        background-color: #b361ff;
    }
    .el-footer {
        background-color: #62c48b;
    }
    .el-aside {
        background-color: #DCDFE6;
    }
    .el-main {
        background-color: #EBEEF5;
    }
    .el-button {
        font-family: 'Pingang SC';
        width: 108px;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 6px;
        margin-right: 6px;
    }
    .el-dropdown p {
        font-family: 'Pingang SC';
    }
    .text {
        font-family: Times;
    }
    .comment {
        background-color: #b3dbc4;
        border-radius: 6px;
        margin: 8px;
        direction: vertical;
        padding: 10px;
    }
</style>

</html>